<!-- Player Information Page -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>2018 Player Info</title>
	<link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon'/>
    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">  
	<link href="../resources/css/my_style.css" rel="stylesheet">
  </head>
  <body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="home.html">
		<img class="rounded-circle" src="../resources/img/cu_boulder_logo.jpg" alt="" width="30" height="30">
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarText">
		<ul class="navbar-nav mr-auto">
		 <li class="nav-item">
			<a class="nav-link" href="home.html">Home</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="team_stats.html">Season Stats <span class="sr-only">(current)</span></a>
		  </li>
		  <li class="nav-item active">
			<a class="nav-link" href="player_info.html">Player Information</a>
		  </li>
		</ul>
		<div class="form-inline my-2 my-lg-0">
			<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Logout</button>
		</div>
	  </div>
	</nav>
	<div class="container">
		<br>
		<div class="row">
			<div class="col-4">
				<!-- 
					Todo: This section will hold a Bootstrap Card containing
						   a demo image (temp_image.svg) and a Bootstrap Dropdown menu
						   to allow the user to select between 3 temp players (switching between
						   the players will be implemented in a future lab).
				-->
				<div class="card">
					<img class="card-img-top" src="/home/k/koro5940/Downloads/Steven_Montez.jpg" alt="Steven Montez #12"> </img>
					<div class="card-body">
						<p class="card-title"> #12 Steven Montez </p>
						<p class="card-text"> Current starting Quarterback for the Buffs. </p>
						<p class="card-text"> Sophomore from El Paso, TX.</p>
					</div>
				</div>
				<div class="card">
					<img class="card-img-top" src="/home/k/koro5940/Downloads/Laviska_Shenault.jpg"> </img>
					<div class="card-body"> 	
						<p class="card-title"> #2 Laviska Shenault </p>
						<p class="card-text"> Star Wide Receiver for the season </p>
						<p class="card-text"> Sophomore from Desoto, TX. </p>
					</div>
				</div>
				<div class="card"> 
					<img class="card-img-top" src="/home/k/koro5940/Downloads/Jay_MacIntyre.jpg"> </img>
					<div class="card-body">  
						<p class="card-title"> #14 Jay MacIntyre </p>
						<p class="card-text"> Wide Receiver and son of the then coach of the Buffs. </p>
						<p class="card-text"> Junior from Boulder, CO. </p>
					</div>
				</div>
			</div>
			<div class="col-8">
				<!-- 
					Todo: This section will hold a table with a temp player's information
					
					|  Year                |  Junior                  |
					|  Major               |  History                 |
					|  Games Played        |  32                      |
					|  Passing Yards: 855  |  Avg. Passing Yards: 26  |
					|  Rushing Yards: 378  |  Avg. Rushing Yards: 12  |
					|  Receiving Yards: 57 |  Avg. Receiving Yards: 2 |
				-->
				<table class="table">
					<thead>
						<tr>
							<th scope="col">  </th>
							<th scope="col">  </th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row"> Year </th>
							<td> Junior </td>
						</tr>
						<tr>
							<th scope="row"> Major </th>
							<td> Sociology </td>
						</tr>
						<tr>
							<th scope="row"> Games Played </th>
							<td> 22 </td>
						</tr>
						<tr>
							<th scope="row"> Passing Yards </th>
							<td> 2,849 </td>
						</tr>
						<tr> 
							<th scope="row"> Rushing Yards </th>
							<td> 238 </td>
						</tr>
						<tr>
							<th scope="row"> Receiving Yards </th>
							<td> 0 </td>
						</tr>
					</tbody>
				</table>
				<table class="table">
					<thead>
						<tr>
							<th scope="col"> </th>
							<th scope="col"> </th>
						</tr>
						<tr>
							<th scope="row"> Year </th>
							<td> Sophomore </td>
						</tr>
						<tr>
							<th scope="row"> Major </th>
							<td> Sociology </td>
						</tr>
						<tr>
							<th scope="row"> Games Played </th>
							<td>  9 </td>
						</tr>
						<tr>
							<th scope="row"> Passing Yards </th>
							<td> 0 </td>
						</tr>
						<tr>
							<th scope="row"> Rushing Yards </th>
							<td> 115 </td>
						</tr>
						<tr>
							<th scope="row"> Receiving Yards </th>
							<td> 1011 </td>
						</tr>
					</thead>
				</table>
				<table class="table">
						<thead>
							<tr>
								<th scope="col"> </th>
								<th scope="col"> </th>
							</tr>
							<tr>
								<th scope="row"> Year </th>
								<td> Junior </td>
							</tr>
							<tr>
								<th scope="row"> Major </th>
								<td> Sociology </td>
							</tr>
							<tr>
								<th scope="row"> Games Played </th>
								<td> 7 </td>
							</tr>
							<tr>
								<th scope="row"> Passing Yards </th>
								<td> 0 </td>
							</tr>
							<tr>
								<th scope="row"> Rushing Yards</th>
								<td> 4 </td>
							</tr>
							<tr>
								<th scope="row"> Receiving Yards </th>
								<td> 165 </td>
							</tr>
						</thead>
					</table>
			</div>
		</div>
		
	</div>
  
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>
